UnitTest/Web References/NBNLPService/BNLPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s0="http://tempuri.org/" name="BNLPService" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="Translate">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Text" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TranslateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="TranslateResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TranslateAnalysis">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Text" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TranslateAnalysisResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="TranslateAnalysisResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TranslateSite">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Text" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TranslateSiteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="TranslateSiteResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="string" nillable="true" type="xs:string" />
    </xs:schema>
  </types>
  <message name="TranslateSoapIn">
    <part name="parameters" element="s0:Translate" />
  </message>
  <message name="TranslateSoapOut">
    <part name="parameters" element="s0:TranslateResponse" />
  </message>
  <message name="TranslateAnalysisSoapIn">
    <part name="parameters" element="s0:TranslateAnalysis" />
  </message>
  <message name="TranslateAnalysisSoapOut">
    <part name="parameters" element="s0:TranslateAnalysisResponse" />
  </message>
  <message name="TranslateSiteSoapIn">
    <part name="parameters" element="s0:TranslateSite" />
  </message>
  <message name="TranslateSiteSoapOut">
    <part name="parameters" element="s0:TranslateSiteResponse" />
  </message>
  <message name="TranslateHttpGetIn">
    <part name="Text" type="s:string" />
  </message>
  <message name="TranslateHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TranslateAnalysisHttpGetIn">
    <part name="Text" type="s:string" />
  </message>
  <message name="TranslateAnalysisHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TranslateSiteHttpGetIn">
    <part name="Text" type="s:string" />
  </message>
  <message name="TranslateSiteHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TranslateHttpPostIn">
    <part name="Text" type="s:string" />
  </message>
  <message name="TranslateHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TranslateAnalysisHttpPostIn">
    <part name="Text" type="s:string" />
  </message>
  <message name="TranslateAnalysisHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="TranslateSiteHttpPostIn">
    <part name="Text" type="s:string" />
  </message>
  <message name="TranslateSiteHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <portType name="BNLPServiceSoap">
    <operation name="Translate">
      <input message="s0:TranslateSoapIn" />
      <output message="s0:TranslateSoapOut" />
    </operation>
    <operation name="TranslateAnalysis">
      <input message="s0:TranslateAnalysisSoapIn" />
      <output message="s0:TranslateAnalysisSoapOut" />
    </operation>
    <operation name="TranslateSite">
      <input message="s0:TranslateSiteSoapIn" />
      <output message="s0:TranslateSiteSoapOut" />
    </operation>
  </portType>
  <portType name="BNLPServiceSoap12">
    <operation name="Translate">
      <input message="s0:TranslateSoapIn" />
      <output message="s0:TranslateSoapOut" />
    </operation>
    <operation name="TranslateAnalysis">
      <input message="s0:TranslateAnalysisSoapIn" />
      <output message="s0:TranslateAnalysisSoapOut" />
    </operation>
    <operation name="TranslateSite">
      <input message="s0:TranslateSiteSoapIn" />
      <output message="s0:TranslateSiteSoapOut" />
    </operation>
  </portType>
  <portType name="BNLPServiceHttpGet">
    <operation name="Translate">
      <input message="s0:TranslateHttpGetIn" />
      <output message="s0:TranslateHttpGetOut" />
    </operation>
    <operation name="TranslateAnalysis">
      <input message="s0:TranslateAnalysisHttpGetIn" />
      <output message="s0:TranslateAnalysisHttpGetOut" />
    </operation>
    <operation name="TranslateSite">
      <input message="s0:TranslateSiteHttpGetIn" />
      <output message="s0:TranslateSiteHttpGetOut" />
    </operation>
  </portType>
  <portType name="BNLPServiceHttpPost">
    <operation name="Translate">
      <input message="s0:TranslateHttpPostIn" />
      <output message="s0:TranslateHttpPostOut" />
    </operation>
    <operation name="TranslateAnalysis">
      <input message="s0:TranslateAnalysisHttpPostIn" />
      <output message="s0:TranslateAnalysisHttpPostOut" />
    </operation>
    <operation name="TranslateSite">
      <input message="s0:TranslateSiteHttpPostIn" />
      <output message="s0:TranslateSiteHttpPostOut" />
    </operation>
  </portType>
  <binding name="BNLPServiceSoap" type="s0:BNLPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Translate">
      <soap:operation soapAction="http://tempuri.org/Translate" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TranslateAnalysis">
      <soap:operation soapAction="http://tempuri.org/TranslateAnalysis" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="TranslateSite">
      <soap:operation soapAction="http://tempuri.org/TranslateSite" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="BNLPServiceSoap12" type="s0:BNLPServiceSoap12">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Translate">
      <soap12:operation soapAction="http://tempuri.org/Translate" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="TranslateAnalysis">
      <soap12:operation soapAction="http://tempuri.org/TranslateAnalysis" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="TranslateSite">
      <soap12:operation soapAction="http://tempuri.org/TranslateSite" style="document" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="BNLPServiceHttpGet" type="s0:BNLPServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="Translate">
      <http:operation location="/Translate" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TranslateAnalysis">
      <http:operation location="/TranslateAnalysis" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TranslateSite">
      <http:operation location="/TranslateSite" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <binding name="BNLPServiceHttpPost" type="s0:BNLPServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="Translate">
      <http:operation location="/Translate" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TranslateAnalysis">
      <http:operation location="/TranslateAnalysis" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="TranslateSite">
      <http:operation location="/TranslateSite" />
      <input>
        <mime:content part="" type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
  </binding>
  <service name="BNLPService">
    <port name="BNLPServiceSoap" binding="s0:BNLPServiceSoap">
      <soap:address location="http://127.0.0.1:8080/BNLPService.asmx" />
    </port>
    <port name="BNLPServiceSoap12" binding="s0:BNLPServiceSoap12">
      <soap12:address location="http://127.0.0.1:8080/BNLPService.asmx" />
    </port>
    <port name="BNLPServiceHttpGet" binding="s0:BNLPServiceHttpGet">
      <http:address location="http://127.0.0.1:8080/BNLPService.asmx" />
    </port>
    <port name="BNLPServiceHttpPost" binding="s0:BNLPServiceHttpPost">
      <http:address location="http://127.0.0.1:8080/BNLPService.asmx" />
    </port>
  </service>
</definitions>