UnitTest/Service References/BNLPService/BNLPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Translate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslateAnalysis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslateAnalysisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslateAnalysisResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslateSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TranslateSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslateSiteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TranslateSoapIn">
    <wsdl:part name="parameters" element="tns:Translate" />
  </wsdl:message>
  <wsdl:message name="TranslateSoapOut">
    <wsdl:part name="parameters" element="tns:TranslateResponse" />
  </wsdl:message>
  <wsdl:message name="TranslateAnalysisSoapIn">
    <wsdl:part name="parameters" element="tns:TranslateAnalysis" />
  </wsdl:message>
  <wsdl:message name="TranslateAnalysisSoapOut">
    <wsdl:part name="parameters" element="tns:TranslateAnalysisResponse" />
  </wsdl:message>
  <wsdl:message name="TranslateSiteSoapIn">
    <wsdl:part name="parameters" element="tns:TranslateSite" />
  </wsdl:message>
  <wsdl:message name="TranslateSiteSoapOut">
    <wsdl:part name="parameters" element="tns:TranslateSiteResponse" />
  </wsdl:message>
  <wsdl:message name="TranslateHttpGetIn">
    <wsdl:part name="Text" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TranslateAnalysisHttpGetIn">
    <wsdl:part name="Text" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateAnalysisHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TranslateSiteHttpGetIn">
    <wsdl:part name="Text" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateSiteHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TranslateHttpPostIn">
    <wsdl:part name="Text" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TranslateAnalysisHttpPostIn">
    <wsdl:part name="Text" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateAnalysisHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TranslateSiteHttpPostIn">
    <wsdl:part name="Text" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TranslateSiteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="BNLPServiceSoap">
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateSoapIn" />
      <wsdl:output message="tns:TranslateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslateAnalysis">
      <wsdl:input message="tns:TranslateAnalysisSoapIn" />
      <wsdl:output message="tns:TranslateAnalysisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslateSite">
      <wsdl:input message="tns:TranslateSiteSoapIn" />
      <wsdl:output message="tns:TranslateSiteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BNLPServiceHttpGet">
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateHttpGetIn" />
      <wsdl:output message="tns:TranslateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslateAnalysis">
      <wsdl:input message="tns:TranslateAnalysisHttpGetIn" />
      <wsdl:output message="tns:TranslateAnalysisHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslateSite">
      <wsdl:input message="tns:TranslateSiteHttpGetIn" />
      <wsdl:output message="tns:TranslateSiteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BNLPServiceHttpPost">
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateHttpPostIn" />
      <wsdl:output message="tns:TranslateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslateAnalysis">
      <wsdl:input message="tns:TranslateAnalysisHttpPostIn" />
      <wsdl:output message="tns:TranslateAnalysisHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TranslateSite">
      <wsdl:input message="tns:TranslateSiteHttpPostIn" />
      <wsdl:output message="tns:TranslateSiteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BNLPServiceSoap" type="tns:BNLPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Translate">
      <soap:operation soapAction="http://tempuri.org/Translate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateAnalysis">
      <soap:operation soapAction="http://tempuri.org/TranslateAnalysis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateSite">
      <soap:operation soapAction="http://tempuri.org/TranslateSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BNLPServiceSoap12" type="tns:BNLPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Translate">
      <soap12:operation soapAction="http://tempuri.org/Translate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateAnalysis">
      <soap12:operation soapAction="http://tempuri.org/TranslateAnalysis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateSite">
      <soap12:operation soapAction="http://tempuri.org/TranslateSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BNLPServiceHttpGet" type="tns:BNLPServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Translate">
      <http:operation location="/Translate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateAnalysis">
      <http:operation location="/TranslateAnalysis" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateSite">
      <http:operation location="/TranslateSite" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BNLPServiceHttpPost" type="tns:BNLPServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Translate">
      <http:operation location="/Translate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateAnalysis">
      <http:operation location="/TranslateAnalysis" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TranslateSite">
      <http:operation location="/TranslateSite" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BNLPService">
    <wsdl:port name="BNLPServiceSoap" binding="tns:BNLPServiceSoap">
      <soap:address location="http://localhost/BNLP/BNLPService.asmx" />
    </wsdl:port>
    <wsdl:port name="BNLPServiceSoap12" binding="tns:BNLPServiceSoap12">
      <soap12:address location="http://localhost/BNLP/BNLPService.asmx" />
    </wsdl:port>
    <wsdl:port name="BNLPServiceHttpGet" binding="tns:BNLPServiceHttpGet">
      <http:address location="http://localhost/BNLP/BNLPService.asmx" />
    </wsdl:port>
    <wsdl:port name="BNLPServiceHttpPost" binding="tns:BNLPServiceHttpPost">
      <http:address location="http://localhost/BNLP/BNLPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>